<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form action="https://formbold.com/s/FORM_ID" method="POST">
            
            <div class="formbold-mb-5">
                <label for="phone" class="formbold-form-label"> Phone Number </label>
                <input type="text" name="phone" id="phone" placeholder="Enter your phone number"
                    class="formbold-form-input" />
            </div>
            <div class="flex flex-wrap formbold--mx-3">
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5 w-full">
                        <label for="date" class="formbold-form-label"> Date </label>
                        <input type="date" name="date" id="date" class="formbold-form-input" />
                    </div>
                </div>

                <div class="dropdown">
                    <label for="date" class="formbold-form-label"> Time </label>
                   <select class="select ">
                        <option value="1" class="option">9am to 12am</option>
                        <option value="2" class="option">12pm to 4pm</option>
                        <option value="3" class="option">4pm to 8pm</option>
                      </select>
                </div>

                
            </div>

            <div class="dropdown">
                <label for="date" class="formbold-form-label"> Estimated Weight </label>
               <select class="selectw">
                    <option value="1" class="option">Less than 20kg</option>
                    <option value="2" class="option">20-50kg</option>
                    <option value="3" class="option">50-100kg</option>
                    <option value="3" class="option">100-500kg</option>
                    <option value="3" class="option">More than 500kg</option>
                  </select>
            </div>

            <div class="formbold-mb-5 formbold-pt-3">
                <label class="formbold-form-label formbold-form-label-2">
                    Address Details
                </label>
                <div class="flex flex-wrap formbold--mx-3">
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="text" name="area" id="area" placeholder="Enter area"
                                class="formbold-form-input" />
                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="text" name="city" id="city" placeholder="Enter city"
                                class="formbold-form-input" />
                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="text" name="state" id="state" placeholder="Enter state"
                                class="formbold-form-input" />
                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="text" name="post-code" id="post-code" placeholder="Post Code"
                                class="formbold-form-input" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button class="formbold-btn">Book Appointment</button>
            </div>
        </form>
    </div>
</div>