<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">								
	<h2 class="title_spectial">Recyclables</h2>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
       <div class="col">
		 <div class="card radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<p class="mb-0 text-secondary">NEWSPAPER</p>
						<h4 class="my-1 text-info">RS 18/KG</h4>
						<p class="mb-0 font-13">+2.5% from last week</p>
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						<div class="block_box">
							<img src="../../../assets/image/e.png" class="rate_image">
						</div>
					</div>
				</div>
			</div>
		 </div>
	   </div>
	   <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-danger">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">COPIES/BOOK</p>
					   <h4 class="my-1 text-danger">RS 16/KG</h4>
					   <p class="mb-0 font-13">+5.4% from last week</p>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-book"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-success">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">CARDBOARD</p>
					   <h4 class="my-1 text-success">RS 10/KG</h4>
					   <p class="mb-0 font-13">-4.5% from last week</p>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
					<div class="block_box">
						<img src="../../../assets/image/packages.png" class="rate_image">
					</div>
				   </div>
			   </div>
		   </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-warning">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">PLASTIC</p>
					   <h4 class="my-1 text-warning">RS 10/KG</h4>
					   <p class="mb-0 font-13">+8.4% from last week</p>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
					<div class="block_box">
						<img src="../../../assets/image/plastic.png" class="rate_image">
					</div>
				   </div>
			   </div>
		   </div>
		</div>
	  </div> 
	</div>
</div>

&nbsp;
<div class="container">
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
		<div class="col">
			<div class="card radius-10 border-start border-0 border-3 border-info">
			   <div class="card-body">
				   <div class="d-flex align-items-center">
					   <div>
						   <p class="mb-0 text-secondary">IRON</p>
						   <h4 class="my-1 text-info">RS 30/KG</h4>
						   <p class="mb-0 font-13">+2.5% from last week</p>
					   </div>
					   <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						   <div class="block_box">
						      <img src="../../../assets/image/steel.png" class="rate_image">
					        </div>
					   </div>
				   </div>
			   </div>
			</div>
		</div>

		<!-- 2 -->
		<div class="col">
			<div class="card radius-10 border-start border-0 border-3 border-info">
			   <div class="card-body">
				   <div class="d-flex align-items-center">
					   <div>
						   <p class="mb-0 text-secondary">STEEL</p>
						   <h4 class="my-1 text-info">RS 37/KG</h4>
						   <p class="mb-0 font-13">+2.5% from last week</p>
					   </div>
					   <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						<div class="block_box">
							<img src="../../../assets/image/iron-bar.png" class="rate_image">
						</div>
					   </div>
				   </div>
			   </div>
			</div>
		</div>

		<!-- 3 -->
		<div class="col">
			<div class="card radius-10 border-start border-0 border-3 border-info">
			   <div class="card-body">
				   <div class="d-flex align-items-center">
					   <div>
						   <p class="mb-0 text-secondary">ALUMINIUM</p>
						   <h4 class="my-1 text-info">RS 105/KG</h4>
						   <p class="mb-0 font-13">+2.5% from last week</p>
					   </div>
					   <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						<div class="block_box">
							<img src="../../../assets/image/waste.png" class="rate_image">
						</div>
					   </div>
				   </div>
			   </div>
			</div>
		</div>

		<!-- 4 -->
		<div class="col">
			<div class="card radius-10 border-start border-0 border-3 border-info">
			   <div class="card-body">
				   <div class="d-flex align-items-center">
					   <div>
						   <p class="mb-0 text-secondary">BRASS</p>
						   <h4 class="my-1 text-info">RS 305/KG</h4>
						   <p class="mb-0 font-13">+2.5% from last week</p>
					   </div>
					   <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						<div class="block_box">
							<img src="../../../assets/image/trumpet.png" class="rate_image">
						</div>
					   </div>
				   </div>
			   </div>
			</div>
		</div>
	</div>
</div>

&nbsp;
<div class="container">
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
		<div class="col">
			<div class="card radius-10 border-start border-0 border-3 border-info">
			   <div class="card-body">
				   <div class="d-flex align-items-center">
					   <div>
						   <p class="mb-0 text-secondary">COPPER</p>
						   <h4 class="my-1 text-info">RS 425/KG</h4>
						   <p class="mb-0 font-13">+2.5% from last week</p>
					   </div>
					   <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
						<div class="block_box">
							<img src="../../../assets/image/wiring.png" class="rate_image">
						</div>
					   </div>
				   </div>
			   </div>
			</div>
		</div>
	</div>
</div>