<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <h2 class="title_spectial">Small Appliances</h2>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">HEAVY E-WASTE</p>
                            <h4 class="my-1 text-info">RS 30/KG</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/washing-machine.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">LIGHT E-WASTE</p>
                            <h4 class="my-1 text-info">RS 15/KG</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/washing-machine (1).png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-warning">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">CRT TV</p>
                            <h4 class="my-1 text-warning">RS 150/PIECE</h4>
                            <p class="mb-0 font-13">+8.4% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/washing-machine (1).png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">UPS</p>
                            <h4 class="my-1 text-info">RS 180/PIECE</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/fridge.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

&nbsp;
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-danger ">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">CEILING FAN</p>
                            <h4 class="my-1 text-danger">RS 35/KG</h4>
                            <p class="mb-0 font-13">+5.4% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/cooler.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 -->
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">MOTORS (COPPER WIRING)</p>
                            <h4 class="my-1 text-info">RS 35/KG</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/air-cooler.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 -->
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">MICROWAVE</p>
                            <h4 class="my-1 text-info">RS 200/PIECE</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/geyser.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 -->
        
    </div>
</div>

&nbsp;
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">INVERTER/STABILIZER (COPPER COIL)</p>
                            <h4 class="my-1 text-info">RS 42/KG</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/refrigerator.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">BATTERY(USED WITH INVERTERS)</p>
                            <h4 class="my-1 text-info">RS 72/KG</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/air-conditioner.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">PRINTER/SCANNER/FAX MACHINE</p>
                            <h4 class="my-1 text-success">RS 15/KG</h4>
                            <p class="mb-0 font-13">-4.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../assets/image/packages.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>