<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <h2 class="title_spectial">Other</h2>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">BIKE</p>
                            <h4 class="my-1 text-info">RS 2500/PIECE</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/washing-machine.png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">CAR</p>
                            <h4 class="my-1 text-info">RS 25000/PIECE</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            <div class="block_box">
                                <img src="../../../../../assets/image/washing-machine (1).png" class="rate_image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>