<footer class="footer_section">
    <div class="container footer_container">
        <div class="row footer_padding">
            <div class="col-md-4">
                <p class="contact_us">Contact Us</p>
                <p> &nbsp; <a href="tel:+918595358613">+91 1111111111</a></p>
                <p> &nbsp; team@gcet.com</p>
                <p style="font-weight: 700;">Customer Support available <br>from 10am - 7pm</p>
                <p class="find_us">Find Us Here</p>
                <ul class="find_us_ul">
                    <li><a href="https://www.instagram.com/." target="_blank" rel="noreferrer"><img
                                src="https://ik.imagekit.io/y8s2vhk66ef/image_2_Bi5cqcyBFNT.png?updatedAt=1628624823915"
                                alt="instagram"></a></li>
                    <li><a href="https://twitter.com/." target="_blank" rel="noreferrer"><img
                                src="https://ik.imagekit.io/y8s2vhk66ef/image_3_yByOZld4XFh.png?updatedAt=1628624824789"
                                alt="twitter"></a></li>
                    <li><a href="https://www.linkedin.com/." target="_blank" rel="noreferrer"><img
                                src="https://ik.imagekit.io/y8s2vhk66ef/image_6_zHp_XCLcq9Z.png?updatedAt=1628624826605"
                                alt="linkedin"></a></li>
                    <li><a href="https://www.facebook.com/." target="_blank" rel="noreferrer"><img
                                src="https://ik.imagekit.io/y8s2vhk66ef/image_5_3EElSEX6sCW.png?updatedAt=1628624825705"
                                alt="facebook"></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="company"><a routerLink="Scraprate">Scrap Rates</a></p>
                <!-- <p class="cursor-pointer"><a href="https://blog.scrapuncle.com" target="_blank"
                        rel="noreferrer">Blog</a></p> -->
            </div>
            <div class="col-md-4 footer-address"><img class="logo_class"
                    src="/logo"
                    alt="Ecotarder">
                <p class="swapeco"><b>Eco Trader ltd</b></p>
                <p style="display: block;"><b>Regd. Address:</b> <br>10433 Ground Floor , Anand - 388001
                    </p>
                <p style="display: block;"><br><b>Corr Address:</b><br> Incubation Center, Anand - 388001</p>
            </div>
        </div>
    </div>
    <div class="helper-action active"><button>+</button>
        <ul>
            <li><a href="tel:+91111111111"><img
                        src="https://ik.imagekit.io/h1rxzpffx/scrapuncle/assets/telephone-call_0Etr04ShlH.png?ik-sdk-version=javascript-1.4.3&amp;updatedAt=1675339109083"
                        style="background: rgb(255, 255, 255); border-radius: 100%;"></a></li>
            <li><a href="https://wa.me/911111111111"><img
                        src="https://ik.imagekit.io/h1rxzpffx/scrapuncle/assets/whatsapp_VhssjIqsN5.png?ik-sdk-version=javascript-1.4.3&amp;updatedAt=1675339111494"></a>
            </li>
        </ul>
    </div>
</footer>